In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("/Users/mustajabmalik/Downloads/cricket_data.csv")

In [5]:
df.head(5)

,Player,Team,Runs,Balls,Fours,Sixes,Strike Rate,Venue,Result
0,David Warner,Australia,130,78,23,2,119.84,The Oval,Lost
1,Steve Smith,South Africa,0,137,0,0,131.40,Gaddafi Stadium,Lost
2,Quinton de Kock,England,4,115,23,0,92.98,Lords,Lost
3,Joe Root,Pakistan,141,132,19,4,138.62,Gaddafi Stadium,Lost
4,David Warner,Pakistan,102,81,10,5,54.58,Wankhede,Lost

In [7]:
df.dtypes

Player          object
Team            object
Runs             int64
Balls            int64
Fours            int64
Sixes            int64
Strike Rate    float64
Venue           object
Result          object
dtype: object

In [9]:
df.isnull()

    Player   Team   Runs  Balls  Fours  Sixes  Strike Rate  Venue  Result
0    False  False  False  False  False  False        False  False   False
1    False  False  False  False  False  False        False  False   False
2    False  False  False  False  False  False        False  False   False
3    False  False  False  False  False  False        False  False   False
4    False  False  False  False  False  False        False  False   False
5    False  False  False  False  False  False        False  False   False
6    False  False  False  False  False  False        False  False   False
7    False  False  False  False  False  False        False  False   False
8    False  False  False  False  False  False        False  False   False
9    False  False  False  False  False  False        False  False   False
10   False  False  False  False  False  False        False  False   False
11   False  False  False  False  False  False        False  False   False
12   False  False  False  False  False  False        False  False   False
13   False  False  False  False  False  False        False  False   False
14   False  False  False  False  False  False        False  False   False
15   False  False  False  False  False  False        False  False   False
16   False  False  False  False  False  False        False  False   False
17   False  False  False  False  False  False        False  False   False
18   False  False  False  False  False  False        False  False   False
19   False  False  False  False  False  False        False  False   False
20   False  False  False  False  False  False        False  False   False
21   False  False  False  False  False  False        False  False   False
22   False  False  False  False  False  False        False  False   False
23   False  False  False  False  False  False        False  False   False
24   False  False  False  False  False  False        False  False   False
25   False  False  False  False  False  False        False  False   False
26   False  False  False  False  False  False        False  False   False
27   False  False  False  False  False  False        False  False   False
28   False  False  False  False  False  False        False  False   False
29   False  False  False  False  False  False        False  False   False
30   False  False  False  False  False  False        False  False   False
31   False  False  False  False  False  False        False  False   False
32   False  False  False  False  False  False        False  False   False
33   False  False  False  False  False  False        False  False   False
34   False  False  False  False  False  False        False  False   False
35   False  False  False  False  False  False        False  False   False
36   False  False  False  False  False  False        False  False   False
37   False  False  False  False  False  False        False  False   False
38   False  False  False  False  False  False        False  False   False
39   False  False  False  False  False  False        False  False   False
40   False  False  False  False  False  False        False  False   False
41   False  False  False  False  False  False        False  False   False
42   False  False  False  False  False  False        False  False   False
43   False  False  False  False  False  False        False  False   False
44   False  False  False  False  False  False        False  False   False
45   False  False  False  False  False  False        False  False   False
46   False  False  False  False  False  False        False  False   False
47   False  False  False  False  False  False        False  False   False
48   False  False  False  False  False  False        False  False   False
49   False  False  False  False  False  False        False  False   False
50   False  False  False  False  False  False        False  False   False
51   False  False  False  False  False  False        False  False   False
52   False  False  False  False  False  False        False  False   False
53   False  False  False  False  False  False        False  False   False
54   False  False  False  False  False  False        False  False   False
55   False  False  False  False  False  False        False  False   False
56   False  False  False  False  False  False        False  False   False
57   False  False  False  False  False  False        False  False   False
58   False  False  False  False  False  False        False  False   False
59   False  False  False  False  False  False        False  False   False

In [21]:
 df[df.isnull()]

   Player Team  Runs  Balls  Fours  Sixes  Strike Rate Venue Result
0     NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
1     NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
2     NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
3     NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
4     NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
5     NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
6     NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
7     NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
8     NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
9     NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
10    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
11    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
12    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
13    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
14    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
15    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
16    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
17    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
18    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
19    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
20    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
21    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
22    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
23    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
24    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
25    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
26    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
27    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
28    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
29    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
30    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
31    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
32    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
33    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
34    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
35    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
36    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
37    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
38    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
39    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
40    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
41    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
42    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
43    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
44    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
45    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
46    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
47    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
48    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
49    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
50    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
51    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
52    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
53    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
54    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
55    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
56    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
57    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
58    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN
59    NaN  NaN   NaN    NaN    NaN    NaN          NaN   NaN    NaN

In [23]:
df.isnull().sum()

Player         0
Team           0
Runs           0
Balls          0
Fours          0
Sixes          0
Strike Rate    0
Venue          0
Result         0
dtype: int64

In [31]:
df_filled = df.fillna(0)

In [33]:
df.head(5)

,Player,Team,Runs,Balls,Fours,Sixes,Strike Rate,Venue,Result
0,David Warner,Australia,130,78,23,2,119.84,The Oval,Lost
1,Steve Smith,South Africa,0,137,0,0,131.40,Gaddafi Stadium,Lost
2,Quinton de Kock,England,4,115,23,0,92.98,Lords,Lost
3,Joe Root,Pakistan,141,132,19,4,138.62,Gaddafi Stadium,Lost
4,David Warner,Pakistan,102,81,10,5,54.58,Wankhede,Lost

In [39]:
#change column name
df = df.rename(columns={"Runs" : "Runs scored"})

In [41]:
df.head(3)

,Player,Team,Runs scored,Balls,Fours,Sixes,Strike Rate,Venue,Result
0,David Warner,Australia,130,78,23,2,119.84,The Oval,Lost
1,Steve Smith,South Africa,0,137,0,0,131.40,Gaddafi Stadium,Lost
2,Quinton de Kock,England,4,115,23,0,92.98,Lords,Lost

In [43]:
#change data type of a column
df["Balls"] = df["Balls"].astype(float)

In [45]:
df.head(6)

,Player,Team,Runs scored,Balls,Fours,Sixes,Strike Rate,Venue,Result
0,David Warner,Australia,130,78.0,23,2,119.84,The Oval,Lost
1,Steve Smith,South Africa,0,137.0,0,0,131.40,Gaddafi Stadium,Lost
2,Quinton de Kock,England,4,115.0,23,0,92.98,Lords,Lost
3,Joe Root,Pakistan,141,132.0,19,4,138.62,Gaddafi Stadium,Lost
4,David Warner,Pakistan,102,81.0,10,5,54.58,Wankhede,Lost
5,Aaron Finch,Australia,26,71.0,16,2,55.60,Lords,Draw

In [49]:
df.dtypes

Player          object
Team            object
Runs scored      int64
Balls          float64
Fours            int64
Sixes            int64
Strike Rate    float64
Venue           object
Result          object
dtype: object

In [51]:
#applying any fucntion using .apply function
df["Runs scored again"] = df["Runs scored"].apply(lambda x:x*2)

In [53]:
df.head(10)

,Player,Team,Runs scored,Balls,Fours,Sixes,Strike Rate,Venue,Result,Runs scored again
0,David Warner,Australia,130,78.0,23,2,119.84,The Oval,Lost,260
1,Steve Smith,South Africa,0,137.0,0,0,131.40,Gaddafi Stadium,Lost,0
2,Quinton de Kock,England,4,115.0,23,0,92.98,Lords,Lost,8
3,Joe Root,Pakistan,141,132.0,19,4,138.62,Gaddafi Stadium,Lost,282
4,David Warner,Pakistan,102,81.0,10,5,54.58,Wankhede,Lost,204
5,Aaron Finch,Australia,26,71.0,16,2,55.60,Lords,Draw,52
6,Kane Williamson,Pakistan,136,31.0,7,8,173.39,Lords,Won,272
7,David Warner,Pakistan,14,58.0,3,4,104.03,Eden Gardens,Draw,28
8,Quinton de Kock,South Africa,89,149.0,5,7,69.06,Lords,No Result,178
9,Joe Root,Australia,41,150.0,7,0,128.34,Dubai Stadium,Lost,82